
.best_slider .sale_slider {padding-right:15%; padding-left:15%;}
#item_content {width:100%; padding-right:15%; padding-left:15%;}

.best_slider > li > img {
	width:100%;
	height:auto;

}

.sale_slider > li > img {
	width:100%;
	height:auto;

}