<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
    
<mapper namespace="Content">  
 	
 	<!-- 1.content_board 테이블에서 sql작업(1.글목록보기) -->
	
	<!-- 	
	검색어는 아직 구현 x 일단 컨텐츠 업로드부터 하기  -->
	<select  id="selectList"  parameterType="map"  resultType="ContentCommand"  >
	    select seq,writer,title,board_content,pwd,hit,regdate,filename,mate,hsize,style
            from ( select a. *, rownum rnum
                from (select * from contents_board
                   <where>
                     <if test="keyWord!=null and keyField=='mate'">
                            mate like '%' || #{keyWord} || '%'
                     </if>
                     <if test="keyWord!=null and keyField=='hsize'">
                            hsize like '%' || #{keyWord} || '%'
                     </if>
                     <if test="keyWord!=null and keyField=='style'">
                            style like '%' || #{keyWord} || '%'
                     </if>
                     <if test="keyWord!=null and keyField=='all'">
                            mate like '%' || #{keyWord} || '%'  or
                            hsize like '%' || #{keyWord} || '%'  or
                            style like '%' || #{keyWord} || '%'
                     </if>
                   </where>        
                     order by seq desc)a)
		  <![CDATA[
		    where rnum >=#{start} AND rnum <=#{end}
		    ]]>
		</select>

	<!-- 2.검색어에 해당하는 총 레코드수 구하기
			java.lang.Integer ->Integer ->int -->
			
	<select id="selectCount" parameterType="map" resultType="Integer">
	    select count(*) from contents_board
                <where>
                     <if test="keyWord!=null and keyField=='title'">
                            title like '%' || #{keyWord} || '%'
                     </if>
                     <if test="keyWord!=null and keyField=='writer'">
                            writer like '%' || #{keyWord} || '%'
                     </if>
                     <if test="keyWord!=null and keyField=='content'">
                            board_content like '%' || #{keyWord} || '%'
                     </if>
                     <if test="keyWord!=null and keyField=='all'">
                            title like '%' || #{keyWord} || '%'  or
                            writer like '%' || #{keyWord} || '%'  or
                            board_content like '%' || #{keyWord} || '%'
                     </if>
                 </where>
 		</select>
	
	<!-- 최대값 구하기 -->
 <select id="getNewSeq" resultType="int" >
    select max(seq) from content_board
 </select>
 
 <!--3.컨텐츠 글쓰기
    #{매개변수명(=테이블의 필드명=멤버변수명}=>Getter Method호출하는 문장이다. 
   -->
 <insert id="insertContent" parameterType="ContentCommand">
     insert into content_board(seq,writer,title,board_content,pwd,hit,regdate,filename,type,hsize,mate)
     values(#{seq},#{writer},#{title},#{board_content},#{pwd},0,sysdate,
     #{filename,jdbcType=VARCHAR},#{type},#{hsize},#{mate})
 </insert>
		 
	 <!--4. 조회수 -->
	 <update id="updateHit" parameterType="Integer">
	    update content_board set hit=hit+1 where seq=#{seq}
	 </update>
 	 
	 <!--5. 글상세보기(레코드 한개 출력)  -->
	 <select id="selectContent" parameterType="Integer" resultType="ContentCommand">
	    select * from content_board where seq=#{seq}
	 </select>
	 
	 <!-- 글수정하기 -->
	 <update id="updateContent"  parameterType="ContentCommand">
	 	update content_board set 
	 	writer=#{writer}, title=#{title}, board_content=#{board_content},
	 	filename=#{filename:VARCHAR} 
	 	type=#{type}, hsize#{hsize}, mate=#{mate}
	 	where seq=#{seq}
	 </update>
	 
	 <!-- 
	 	<mapper namespace="Board"> 에서 
	 	namespace ="Board"는 메소드를 호출할 때 사용하는 역할
	 	사실 그냥  <update id="updateHit" 이렇게만 써도 되는데 가끔 프로그램이 못찾는 경우가 있다
	 	그래서 Board에서 찾는거라고 선언을 한번 더 해준개념이라고 생각하면됨
	 	형식)namespace.id값
	 	ex) Board.updateBoard -->
	 
	 <!-- 특정 게시물 글삭제하기  -->
	 <delete id="deleteContent" parameterType="Integer" >
	 	delete from content_board where seq=#{seq}
	 </delete>
	 
	 
</mapper>